PORT=5000
MONGO_URI=mongodb+srv://azamghafoorreal_db_user:meMKSAxB8oYFr1Kb@cluster0.2d00cmm.mongodb.net/Haven?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=Aura$0418
CLOUDINARY_CLOUD_NAME=qiyykpdf
CLOUDINARY_API_KEY=238722678899556
CLOUDINARY_API_SECRET=LiJ4-brBK4YK1zs_T72fpqytciU
